<div class="container-fluid facts" data-parallax="scroll" data-image-src=<%=asset_path('city.png')%>>

  <div class="row overlay">
    <div class="heading"><h1>Our Leading <b>Facts</b></h1></div>
    <div class="icon  wow pulse"><img class="img img-responsive" src=<%=asset_path('heart.png')%>/></div>

    <div class="col-md-10 col-md-offset-1 facts_box">
      <div class="col-sm-3 col-xs-6 text-center indi_fact wow fadeInUp">
        <img src=<%=asset_path('clock.png')%>/>
        <h2>3665</h2>
        <span>HOURS OF WORK</span>
      </div>

      <div class="col-sm-3 col-xs-6 text-center indi_fact wow fadeInUp"  data-wow-delay="0.1s">
        <img src=<%=asset_path('clients.png')%>/>
        <h2>126</h2>
        <span>SATISFIED CLIENTS</span>
      </div>

      <div class="col-sm-3 col-xs-6 text-center indi_fact wow fadeInUp"  data-wow-delay="0.2s">
        <img src=<%=asset_path('rocket.png')%>/>
        <h2>358</h2>
        <span>PROJECTS DELIVERED</span>
      </div>

      <div class="col-sm-3 col-xs-6 text-center indi_fact wow fadeInUp"  data-wow-delay="0.3s">
        <img src=<%=asset_path('comments.png')%>/>
        <h2>5468</h2>
        <span>SWEET COMMENTS</span>
      </div>
    </div>

  </div>

</div>