<div class="container-fluid social" data-parallax="scroll" data-image-src=<%=asset_path('social.png')%>>

  <div class="row overlay">
    <div class="heading"><h1>Catch us on Social <b>Media</b></h1></div>
    <div class="icon  wow pulse"><img class="img img-responsive" src=<%=asset_path('share.png')%>/></div>

    <div class="col-sm-10 col-sm-offset-1 social_box ">

      <div class="col-sm-2 col-xs-4 wow rollIn" data-wow-delay="0.1s"><img class="img img-responsive" src=<%=asset_path('skype.png')%>/></div>

      <div class="col-sm-2 col-xs-4 wow rollIn" data-wow-delay="0.2s"><img class="img img-responsive" src=<%=asset_path('instagram.png')%>/></div>

      <div class="col-sm-2 col-xs-4 wow rollIn" data-wow-delay="0.3s"><img class="img img-responsive" src=<%=asset_path('facebook.png')%>/></div>

      <div class="col-sm-2 col-xs-4 wow rollIn" data-wow-delay="0.4s"><img class="img img-responsive" src=<%=asset_path('twitter.png')%>/></div>

      <div class="col-sm-2 col-xs-4 wow rollIn" data-wow-delay="0.5s"><img class="img img-responsive" src=<%=asset_path('g_plus.png')%>/></div>

      <div class="col-sm-2 col-xs-4 wow rollIn" data-wow-delay="0.6s"><img class="img img-responsive" src=<%=asset_path('skype.png')%>/></div>

    </div>

  </div>

</div>