



<nav id="sticker" class="navbar z_nav">
  <div class="container">
    <div class="navbar-header">
      <button id="mob_tog" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">

        <i class="fa fa-bars fa-1x"></i>

      </button>
      <a href="<%= root_path%>" id="image_home"><img class="img img-responsive" src=<%=asset_path('logo.png')%> /></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav nav_links navbar-right">
        <li><a id="service" href="<%= root_path%>" data-hover="Services">Services</a></li>
        <li><a id="portfolio" href="<%= root_path%>" data-hover="Portfolio">Portfolio</a></li>
        <li><a id="skills" href="<%= root_path%>" data-hover="Skill">Skills</a></li>
        <li><a id="testi" href="<%= root_path%>" data-hover="Testimonials">Testimonials</a></li>
        <li><a id="about" href="<%= root_path%>" data-hover="About">About</a></li>
        <li><a id="team" href="<%= root_path%>" data-hover="Team">Team</a></li>
        <li><a id="contact" href="<%= root_path%>"  data-hover="Contact">Contact</a></li>

      </ul>

    </div>
  </div>
</nav>

<div class="container project_md">
  <div class="row">
    <div class="col-md-12">
      <h1> <%= @project.tittle %></h1>
      <h4><span class="text-muted">Catogory: </span> <%= @project.catagory %></h4>
      <div class="col-md-12 img_box" >
        <%= image_tag(@project.image_url, class: 'img img-responsive') %>
      </div>
    </div>
  </div>

</div>



<%= render 'home/contact'%>
<%= render 'home/footer'%>

